# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.venv/

rppg_env/
.rppg_env/

heart_rate_data copy.csv
./heart_rate_data copy.csv

heart_rate_data.csv
./heart_rate_data.csv

# Build artifacts
build/
dist/
*.egg-info/

# IDE / Editor
.vscode/
.idea/

# Caffe Models
*.caffemodel
*.prototxt